$background-color: #141414;
$background-color2: #222222;
$border-color: #333333;

$hover-element-color: #262626;
$link-blue: #71AAEB;


.messages{
  display: flex;
  gap: 15px;
  margin-top: 15px;


  & > *{
    border: 1px solid #333;
    border-radius: 5px;
  }

  .messages__list{
    background-color: blue;

    width: 230px;



  }

  .messages__chatWindow{
    background-color: #71AAEB;
    width: 550px;
    flex-shrink: 0;


  }
}